*.o
*.lo
*.la
*.gmo
*.pc
*.ui
Makefile
Makefile.in
.deps/
.libs/
.dirstamp
src/actions/*.?
*marshal.?
src/fm-version.h
LINGUAS
POTFILES
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
data/libfm-pref-apps.1
data/libfm-pref-apps.desktop
data/lxshortcut.1
data/lxshortcut.desktop
depcomp
docs/reference/libfm/version.xml
gtk-doc.make
install-sh
libtool
ltmain.sh
m4/
missing
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/Makefile.in.in
po/stamp-it
src/actions/libfmactions_la_vala.stamp
src/libfm-pref-apps
src/lxshortcut
src/tests/file-search-cli-demo
src/tests/fm-path
src/vapi/fm-actions.vapi
stamp-h1
